@font-face {
  font-family: "vsa"; /* project id 1875253 */
  src: url("//at.alicdn.com/t/font_1875253_xql62jsoalq.eot");
  src: url("//at.alicdn.com/t/font_1875253_xql62jsoalq.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1875253_xql62jsoalq.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1875253_xql62jsoalq.woff") format("woff"),
    url("//at.alicdn.com/t/font_1875253_xql62jsoalq.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1875253_xql62jsoalq.svg#vsa") format("svg");
}

.vsa {
  font-family: "vsa" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vsa-peoples:before {
  content: "\e669";
}

.vsa-pdf:before {
  content: "\e66a";
}

.vsa-qq:before {
  content: "\e66b";
}

.vsa-search:before {
  content: "\e66c";
}

.vsa-zip:before {
  content: "\e66d";
}

.vsa-fullscreen:before {
  content: "\e66e";
}

.vsa-tree-table:before {
  content: "\e66f";
}

.vsa-chart:before {
  content: "\e642";
}

.vsa-component:before {
  content: "\e643";
}

.vsa-404:before {
  content: "\e644";
}

.vsa-excel:before {
  content: "\e645";
}

.vsa-email:before {
  content: "\e646";
}

.vsa-clipboard:before {
  content: "\e647";
}

.vsa-edit:before {
  content: "\e648";
}

.vsa-guide:before {
  content: "\e649";
}

.vsa-drag:before {
  content: "\e64a";
}

.vsa-bug:before {
  content: "\e64b";
}

.vsa-documentation:before {
  content: "\e64c";
}

.vsa-example:before {
  content: "\e64d";
}

.vsa-money:before {
  content: "\e64e";
}

.vsa-international:before {
  content: "\e64f";
}

.vsa-icon:before {
  content: "\e650";
}

.vsa-eye-open:before {
  content: "\e651";
}

.vsa-eye:before {
  content: "\e652";
}

.vsa-lock:before {
  content: "\e653";
}

.vsa-education:before {
  content: "\e654";
}

.vsa-link:before {
  content: "\e655";
}

.vsa-nested:before {
  content: "\e656";
}

.vsa-list:before {
  content: "\e657";
}

.vsa-form:before {
  content: "\e658";
}

.vsa-size:before {
  content: "\e659";
}

.vsa-skill:before {
  content: "\e65a";
}

.vsa-table:before {
  content: "\e65b";
}

.vsa-user:before {
  content: "\e65c";
}

.vsa-shopping:before {
  content: "\e65d";
}

.vsa-exit-fullscreen:before {
  content: "\e65e";
}

.vsa-password:before {
  content: "\e65f";
}

.vsa-theme:before {
  content: "\e660";
}

.vsa-language:before {
  content: "\e661";
}

.vsa-star:before {
  content: "\e662";
}

.vsa-wechat:before {
  content: "\e663";
}

.vsa-tab:before {
  content: "\e664";
}

.vsa-tree:before {
  content: "\e665";
}

.vsa-message:before {
  content: "\e666";
}

.vsa-dashboard:before {
  content: "\e667";
}

.vsa-people:before {
  content: "\e668";
}
