@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes hue-warm {
  from {
    -webkit-filter: hue-rotate(-45deg);
  }
  to {
    -webkit-filter: hue-rotate(135deg);
  }
}

@keyframes hue-cold {
  from {
    -webkit-filter: hue-rotate(135deg);
  }
  to {
    -webkit-filter: hue-rotate(315deg);
  }
}
